<a href="https://colab.research.google.com/github/MalakELFLITTY/my1stRepository/blob/master/Copy_of_Step_1_9_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas

pandas is an open source Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive.

In [8]:
!pip install PyDrive


from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import os

class download_data_from_folder(object):
    def __init__(self,path):
        path_id = path[path.find('id=')+3:]
        self.file_list = self.get_files_in_location(path_id)
        self.unwrap_data(self.file_list)
    def get_files_in_location(self,folder_id):
        file_list = drive.ListFile({'q': "'{}' in parents and trashed=false".format(folder_id)}).GetList()
        return file_list
    def unwrap_data(self,file_list,directory='.'):
        for i, file in enumerate(file_list):
            print(str((i + 1) / len(file_list) * 100) + '% done copying')
            if file['mimeType'].find('folder') != -1:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    os.makedirs(os.path.join(directory, file['title']))
                print('Copying folder ' + os.path.join(directory, file['title']))
                self.unwrap_data(self.get_files_in_location(file['id']), os.path.join(directory, file['title']))
            else:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    downloaded = drive.CreateFile({'id': file['id']})
                    downloaded.GetContentFile(os.path.join(directory, file['title']))
        return None

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: six>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (1.12.0)
Requirement already satisfied: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.17.1)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.7.2)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (46.1.3)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (3.1.1)

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Two key data structures were introduced to Python by Pandas, both of which are essentially built on top of NumPy and inherits its fast performance 

* Series 
* DataFrame

## Series

This is a 1-dimensional object similar to column in a spreadsheet or SQL table. By default each item will be assigned a index label from 0 to N.

In [35]:
# creating a series by passing a list of values, and a custom index label. 
# Note that the labled index reference for each row and it can have duplicate values
s = pd.Series([1,2,3,np.nan,5,6], index=['A','B','C','D','E','F'])
print (s)
print (s[0])

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64
1.0

### If you create a series using dictionary the key will become the index by default.

In [40]:
 # The Series constructor can convert a dictonary as well, using the keys of the dictionary as its index
sample_dict = {'A':1,'B':2,'C':3,'D':np.nan,'E':5,'F':6}
sample_dict

s = pd.Series(sample_dict)
print (s) 
print(s['B'])

A    1.0
B    2.0
C    3.0
D    NaN
E    5.0
F    6.0
dtype: float64
2.0

### DataFrame

It is a 2-dimensional object similar to spreadsheet or a SQL table. This is the most commonly used pandas object.

In [43]:

data = {'Gender': ['F', 'M', 'M'],
        'Emp_ID': ['E01', 'E02', 'E03'],
        'Age': [25, 27, 25]}

# We want the order the columns, so lets specify in columns parameter
df = pd.DataFrame(data, columns=['Emp_ID','Age', 'Gender'])
df

  Emp_ID  Age Gender
0    E01   25      F
1    E02   27      M
2    E03   25      M

### Reading and Writing Data

We'll see 3 commonly used file format under reading and writing 
* csv
* .txt
* Excel

Note: Write will by default overwrite any existing file with same name

In [0]:
# from csv
import pandas as pd
df=pd.read_csv('Data/mtcars.csv')

# to csv, index = False will not write the row numbers
df.to_csv('Data/mtcars_new.csv', index=False)

In [45]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
import os
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
!pip install PyDrive


from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import os

class download_data_from_folder(object):
    def __init__(self,path):
        path_id = path[path.find('id=')+3:]
        self.file_list = self.get_files_in_location(path_id)
        self.unwrap_data(self.file_list)
    def get_files_in_location(self,folder_id):
        file_list = drive.ListFile({'q': "'{}' in parents and trashed=false".format(folder_id)}).GetList()
        return file_list
    def unwrap_data(self,file_list,directory='.'):
        for i, file in enumerate(file_list):
            print(str((i + 1) / len(file_list) * 100) + '% done copying')
            if file['mimeType'].find('folder') != -1:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    os.makedirs(os.path.join(directory, file['title']))
                print('Copying folder ' + os.path.join(directory, file['title']))
                self.unwrap_data(self.get_files_in_location(file['id']), os.path.join(directory, file['title']))
            else:
                if not os.path.exists(os.path.join(directory, file['title'])):
                    downloaded = drive.CreateFile({'id': file['id']})
                    downloaded.GetContentFile(os.path.join(directory, file['title']))
        return None
data_path = 'https://drive.google.com/open?id=1mXqni4Q39NddlqzxiWYg9hDYxznQb06i'
download_data_from_folder(data_path)

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.7.2)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.1)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.3)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.0)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: cachetools<3.2,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (3.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (46.1.3)
5.555555555555555% done copying
11.11111111111111% done copying
16.666666666666664% done copying
22.22222222222222% done copying
27.77777777777778% done copying
33.33333333333333% done copying
38.88888888888889% done copying
44.44444444444444% done copying
50.0% done copying
55.55555555555556% done copying
61.111111111111114% done copying
66.66666666666666% done copying
72.22222222222221% done copying
77.77777777777779% done copying
83.33333333333334% done copying
88.88888888888889% done copying
94.44444444444444% done copying
100.0% done copying

In [0]:
# from .txt file
df=pd.read_csv('Data/mtcars.txt', sep='\t')

# to .txt, index = False will not write the row numbers
df.to_csv('Data/mtcars_new.txt', sep='\t', index=False)

In [0]:
# from Excel
df=pd.read_excel('Data/mtcars.xlsx','Sheet2')

df.to_excel('Data/mtcars_new.xlsx',sheet_name='Sheet1', index = False)

# reading from multiple sheets of same Excel into different dataframes
# xlsx = pd.ExcelFile('file_name.xls')
# sheet1_df = pd.read_excel(xlsx, 'Sheet1')
# sheet2_df = pd.read_excel(xlsx, 'Sheet2')

### Basic Statistics on DataFrame

describe() - will returns the quick stats such as count, mean, std, min, first quartile, median, third quartile, max on each column of the DataFrame

In [48]:
# Summary statistics for the dataframe

df = pd.read_csv('Data/iris.csv')
df.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Covariance

Covariance is one of the fundamental technique to understand the relation between two variable. A positive covariance number between two variables means that they are positively related, while a negative covariance number means the variables are inversely related. The key drawback of covariance is that it does explain us the degree of positive or negative relation between variables

In [49]:
# covariance: It returns the co-variance between suitable columns
df.cov()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      0.685694    -0.042434      1.274315     0.516271
Sepal.Width      -0.042434     0.189979     -0.329656    -0.121639
Petal.Length      1.274315    -0.329656      3.116278     1.295609
Petal.Width       0.516271    -0.121639      1.295609     0.581006

### Correlation

Correlation is another most commonly used technique to determine the relationship between two variables. Correlation will explain wheather variables are positively or inversely related, also number tells us the degree to which the variables tend to move together.

When we say that two items are correlated means that the change in one item effects a change in another item. Correlation is always a range between -1 and 1. For example, If two items have a correlation of .6 (60%) means that change in one item results in positive 60% change to another item.

In [50]:
# correlation: It returns the correlation between suitable columns.

df.corr()

              Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Sepal.Length      1.000000    -0.117570      0.871754     0.817941
Sepal.Width      -0.117570     1.000000     -0.428440    -0.366126
Petal.Length      0.871754    -0.428440      1.000000     0.962865
Petal.Width       0.817941    -0.366126      0.962865     1.000000

### Viewing Data

In [51]:
# Looking at the top n records
# view 1st 2 rows. If n not specified the default value is 5
df.head(n=2)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [52]:
# looking at the bottom n records
df.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [53]:
df.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [54]:
print ("Column Names:" , df.columns)

Column Names: Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

In [55]:
print ("DataFrame Index: ", df.index)

DataFrame Index:  RangeIndex(start=0, stop=150, step=1)

In [56]:
# Get dataframe values only
print (df['Sepal.Length'].values) # for a specific column 
print (df.values) # entire dataframe

[5.1 4.9 4.7 4.6 5.  5.4 4.6 5.  4.4 4.9 5.4 4.8 4.8 4.3 5.8 5.7 5.4 5.1
 5.7 5.1 5.4 5.1 4.6 5.1 4.8 5.  5.  5.2 5.2 4.7 4.8 5.4 5.2 5.5 4.9 5.
 5.5 4.9 4.4 5.1 5.  4.5 4.4 5.  5.1 4.8 5.1 4.6 5.3 5.  7.  6.4 6.9 5.5
 6.5 5.7 6.3 4.9 6.6 5.2 5.  5.9 6.  6.1 5.6 6.7 5.6 5.8 6.2 5.6 5.9 6.1
 6.3 6.1 6.4 6.6 6.8 6.7 6.  5.7 5.5 5.5 5.8 6.  5.4 6.  6.7 6.3 5.6 5.5
 5.5 6.1 5.8 5.  5.6 5.7 5.7 6.2 5.1 5.7 6.3 5.8 7.1 6.3 6.5 7.6 4.9 7.3
 6.7 7.2 6.5 6.4 6.8 5.7 5.8 6.4 6.5 7.7 7.7 6.  6.9 5.6 7.7 6.3 6.7 7.2
 6.2 6.1 6.4 7.2 7.4 7.9 6.4 6.3 6.1 7.7 6.3 6.4 6.  6.9 6.7 6.9 5.8 6.8
 6.7 6.7 6.3 6.5 6.2 5.9]
[[5.1 3.5 1.4 0.2 'setosa']
 [4.9 3.0 1.4 0.2 'setosa']
 [4.7 3.2 1.3 0.2 'setosa']
 [4.6 3.1 1.5 0.2 'setosa']
 [5.0 3.6 1.4 0.2 'setosa']
 [5.4 3.9 1.7 0.4 'setosa']
 [4.6 3.4 1.4 0.3 'setosa']
 [5.0 3.4 1.5 0.2 'setosa']
 [4.4 2.9 1.4 0.2 'setosa']
 [4.9 3.1 1.5 0.1 'setosa']
 [5.4 3.7 1.5 0.2 'setosa']
 [4.8 3.4 1.6 0.2 'setosa']
 [4.8 3.0 1.4 0.1 'setosa']
 [4.3 3.0 1.1 0.1 'setosa']
 [5.8 4.0 1.2 0.2 'setosa']
 [5.7 4.4 1.5 0.4 'setosa']
 [5.4 3.9 1.3 0.4 'setosa']
 [5.1 3.5 1.4 0.3 'setosa']
 [5.7 3.8 1.7 0.3 'setosa']
 [5.1 3.8 1.5 0.3 'setosa']
 [5.4 3.4 1.7 0.2 'setosa']
 [5.1 3.7 1.5 0.4 'setosa']
 [4.6 3.6 1.0 0.2 'setosa']
 [5.1 3.3 1.7 0.5 'setosa']
 [4.8 3.4 1.9 0.2 'setosa']
 [5.0 3.0 1.6 0.2 'setosa']
 [5.0 3.4 1.6 0.4 'setosa']
 [5.2 3.5 1.5 0.2 'setosa']
 [5.2 3.4 1.4 0.2 'setosa']
 [4.7 3.2 1.6 0.2 'setosa']
 [4.8 3.1 1.6 0.2 'setosa']
 [5.4 3.4 1.5 0.4 'setosa']
 [5.2 4.1 1.5 0.1 'setosa']
 [5.5 4.2 1.4 0.2 'setosa']
 [4.9 3.1 1.5 0.2 'setosa']
 [5.0 3.2 1.2 0.2 'setosa']
 [5.5 3.5 1.3 0.2 'setosa']
 [4.9 3.6 1.4 0.1 'setosa']
 [4.4 3.0 1.3 0.2 'setosa']
 [5.1 3.4 1.5 0.2 'setosa']
 [5.0 3.5 1.3 0.3 'setosa']
 [4.5 2.3 1.3 0.3 'setosa']
 [4.4 3.2 1.3 0.2 'setosa']
 [5.0 3.5 1.6 0.6 'setosa']
 [5.1 3.8 1.9 0.4 'setosa']
 [4.8 3.0 1.4 0.3 'setosa']
 [5.1 3.8 1.6 0.2 'setosa']
 [4.6 3.2 1.4 0.2 'setosa']
 [5.3 3.7 1.5 0.2 'setosa']
 [5.0 3.3 1.4 0.2 'setosa']
 [7.0 3.2 4.7 1.4 'versicolor']
 [6.4 3.2 4.5 1.5 'versicolor']
 [6.9 3.1 4.9 1.5 'versicolor']
 [5.5 2.3 4.0 1.3 'versicolor']
 [6.5 2.8 4.6 1.5 'versicolor']
 [5.7 2.8 4.5 1.3 'versicolor']
 [6.3 3.3 4.7 1.6 'versicolor']
 [4.9 2.4 3.3 1.0 'versicolor']
 [6.6 2.9 4.6 1.3 'versicolor']
 [5.2 2.7 3.9 1.4 'versicolor']
 [5.0 2.0 3.5 1.0 'versicolor']
 [5.9 3.0 4.2 1.5 'versicolor']
 [6.0 2.2 4.0 1.0 'versicolor']
 [6.1 2.9 4.7 1.4 'versicolor']
 [5.6 2.9 3.6 1.3 'versicolor']
 [6.7 3.1 4.4 1.4 'versicolor']
 [5.6 3.0 4.5 1.5 'versicolor']
 [5.8 2.7 4.1 1.0 'versicolor']
 [6.2 2.2 4.5 1.5 'versicolor']
 [5.6 2.5 3.9 1.1 'versicolor']
 [5.9 3.2 4.8 1.8 'versicolor']
 [6.1 2.8 4.0 1.3 'versicolor']
 [6.3 2.5 4.9 1.5 'versicolor']
 [6.1 2.8 4.7 1.2 'versicolor']
 [6.4 2.9 4.3 1.3 'versicolor']
 [6.6 3.0 4.4 1.4 'versicolor']
 [6.8 2.8 4.8 1.4 'versicolor']
 [6.7 3.0 5.0 1.7 'versicolor']
 [6.0 2.9 4.5 1.5 'versicolor']
 [5.7 2.6 3.5 1.0 'versicolor']
 [5.5 2.4 3.8 1.1 'versicolor']
 [5.5 2.4 3.7 1.0 'versicolor']
 [5.8 2.7 3.9 1.2 'versicolor']
 [6.0 2.7 5.1 1.6 'versicolor']
 [5.4 3.0 4.5 1.5 'versicolor']
 [6.0 3.4 4.5 1.6 'versicolor']
 [6.7 3.1 4.7 1.5 'versicolor']
 [6.3 2.3 4.4 1.3 'versicolor']
 [5.6 3.0 4.1 1.3 'versicolor']
 [5.5 2.5 4.0 1.3 'versicolor']
 [5.5 2.6 4.4 1.2 'versicolor']
 [6.1 3.0 4.6 1.4 'versicolor']
 [5.8 2.6 4.0 1.2 'versicolor']
 [5.0 2.3 3.3 1.0 'versicolor']
 [5.6 2.7 4.2 1.3 'versicolor']
 [5.7 3.0 4.2 1.2 'versicolor']
 [5.7 2.9 4.2 1.3 'versicolor']
 [6.2 2.9 4.3 1.3 'versicolor']
 [5.1 2.5 3.0 1.1 'versicolor']
 [5.7 2.8 4.1 1.3 'versicolor']
 [6.3 3.3 6.0 2.5 'virginica']
 [5.8 2.7 5.1 1.9 'virginica']
 [7.1 3.0 5.9 2.1 'virginica']
 [6.3 2.9 5.6 1.8 'virginica']
 [6.5 3.0 5.8 2.2 'virginica']
 [7.6 3.0 6.6 2.1 'virginica']
 [4.9 2.5 4.5 1.7 'virginica']
 [7.3 2.9 6.3 1.8 'virginica']
 [6.7 2.5 5.8 1.8 'virginica']
 [7.2 3.6 6.1 2.5 'virginica']
 [6.5 3.2 5.1 2.0 'virginica']
 [6.4 2.7 5.3 1.9 'virginica']
 [6.8 3.0 5.5 2.1 'virginica']
 [5.7 2.5 5.0 2.0 'virginica']
 [5.8 2.8 5.1 2.4 'virginica']
 [6.4 3.2 5.3 2.3 'virginica']
 [6.5 3.0 5.5 1.8 'virginica']
 [7.7 3.8 6.7 2.2 'virginica']
 [7.7 2.6 6.9 2.3 'virginica']
 [6.0 2.2 5.0 1.5 'virginica']
 [6.9 3.2 5.7 2.3 'virginica']
 [5.6 2.8 4.9 2.0 'virginica']
 [7.7 2.8 6.7 2.0 'virginica']
 [6.3 2.7 4.9 1.8 'virginica']
 [6.7 3.3 5.7 2.1 'virginica']
 [7.2 3.2 6.0 1.8 'virginica']
 [6.2 2.8 4.8 1.8 'virginica']
 [6.1 3.0 4.9 1.8 'virginica']
 [6.4 2.8 5.6 2.1 'virginica']
 [7.2 3.0 5.8 1.6 'virginica']
 [7.4 2.8 6.1 1.9 'virginica']
 [7.9 3.8 6.4 2.0 'virginica']
 [6.4 2.8 5.6 2.2 'virginica']
 [6.3 2.8 5.1 1.5 'virginica']
 [6.1 2.6 5.6 1.4 'virginica']
 [7.7 3.0 6.1 2.3 'virginica']
 [6.3 3.4 5.6 2.4 'virginica']
 [6.4 3.1 5.5 1.8 'virginica']
 [6.0 3.0 4.8 1.8 'virginica']
 [6.9 3.1 5.4 2.1 'virginica']
 [6.7 3.1 5.6 2.4 'virginica']
 [6.9 3.1 5.1 2.3 'virginica']
 [5.8 2.7 5.1 1.9 'virginica']
 [6.8 3.2 5.9 2.3 'virginica']
 [6.7 3.3 5.7 2.5 'virginica']
 [6.7 3.0 5.2 2.3 'virginica']
 [6.3 2.5 5.0 1.9 'virginica']
 [6.5 3.0 5.2 2.0 'virginica']
 [6.2 3.4 5.4 2.3 'virginica']
 [5.9 3.0 5.1 1.8 'virginica']]

In [57]:
# identify unique values of a column
df['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [58]:
# Sort your dataframe
df.sort_values(by =['Species', 'Sepal.Length'], ascending=[True,True])

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [0]:
# selection/view by column name
df['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
6         setosa
7         setosa
8         setosa
9         setosa
10        setosa
11        setosa
12        setosa
13        setosa
14        setosa
15        setosa
16        setosa
17        setosa
18        setosa
19        setosa
20        setosa
21        setosa
22        setosa
23        setosa
24        setosa
25        setosa
26        setosa
27        setosa
28        setosa
29        setosa
         ...
120    virginica
121    virginica
122    virginica
123    virginica
124    virginica
125    virginica
126    virginica
127    virginica
128    virginica
129    virginica
130    virginica
131    virginica
132    virginica
133    virginica
134    virginica
135    virginica
136    virginica
137    virginica
138    virginica
139    virginica
140    virginica
141    virginica
142    virginica
143    virginica
144    virginica
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [0]:
# selection by row numbers
df[0:3]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

#### Different selection by lable options
* loc: only work on index
* iloc: work on position
* iat: Get scalar values. It's a very fast iloc

In [0]:
# selection by index
print (df.loc[0:2])

# selection by index of specific lable names
print (df.loc[0:3,['Species','Petal.Width']])

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
  Species  Petal.Width
0  setosa          0.2
1  setosa          0.2
2  setosa          0.2
3  setosa          0.2

In [0]:
# Selection by poisition
print (df.iloc[0:2])

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [0]:
# Selection by poisition between given rows as range
df.iloc[0:2,0:2]

   Sepal.Length  Sepal.Width
0           5.1          3.5
1           4.9          3.0

In [0]:
# selection by position between given specific row numbers
df.iloc[[1,2,4],[0,2]]

   Sepal.Length  Petal.Length
1           4.9           1.4
2           4.7           1.3
4           5.0           1.4

In [61]:
# selectcion by row and column index (index starts with 0). 
# Below case will fetch the [first row index, first column index] value
print (df.iat[1,1])  # Get scalar values. It's a very fast iloc
print('hello')
print(df.iloc[1,1]) #Get data from dataframe without it being in the index
print('hello')
print(df.iloc[:,2]) # select column by position

3.0
hello
3.0
hello
0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: Petal.Length, Length: 150, dtype: float64

In [0]:
# Transpose dataframe
df.T

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
Sepal.Length,5.1,4.9,4.7,4.6,5,5.4,4.6,5,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
Sepal.Width,3.5,3,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3,2.5,3,3.4,3
Petal.Length,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5,5.2,5.4,5.1
Petal.Width,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2,2.3,1.8
Species,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,setosa,...,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica,virginica

### Boolean Indexing

In [0]:
# Filter dataframe based on a value condition on one column

df[df['Sepal.Length'] > 7.5]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [0]:
# Filter dataframe based on multiple value condition on one column
df[df['Species'].isin(['versicolor', 'virginica'])]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
..            ...          ...           ...          ...         ...
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [0]:
# filter based on multiple conditions on multiple columns using AND operator
df[(df['Sepal.Length']>7.5) & (df['Sepal.Width']>3)] # AND operator

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
117           7.7          3.8           6.7          2.2  virginica
131           7.9          3.8           6.4          2.0  virginica

In [0]:
#  filter based on multiple conditions on multiple columns using OR operator
df[(df['Sepal.Length']>7.5) | (df['Sepal.Width']>3)] # OR operator

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
0             5.1          3.5           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.2      setosa
..            ...          ...           ...          ...         ...
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
56            6.3          3.3           4.7          1.6  versicolor
65            6.7          3.1           4.4          1.4  versicolor
70            5.9          3.2           4.8          1.8  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
100           6.3          3.3           6.0          2.5   virginica
105           7.6          3.0           6.6          2.1   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
115           6.4          3.2           5.3          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
120           6.9          3.2           5.7          2.3   virginica
122           7.7          2.8           6.7          2.0   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
131           7.9          3.8           6.4          2.0   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
148           6.2          3.4           5.4          2.3   virginica

[71 rows x 5 columns]

### Basic Operations

In [0]:
# Convert string to datetime series
date_strings = ('2017-04-01','2017-04-02','2017-04-03','2017-04-04')

pd.to_datetime(pd.Series(date_strings))

0   2017-04-01
1   2017-04-02
2   2017-04-03
3   2017-04-04
dtype: datetime64[ns]

In [63]:
# Rename a specific column name
df.rename(columns={'Sepal.Length':'Sepal_Length'}, inplace=True)

# Rename all the column names
df.columns = ['Sepal_Length', 'Sepal_Width', 'Petal_Length', 'Petal_Width', 'Species']
df

     Sepal_Length  Sepal_Width  Petal_Length  Petal_Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [65]:
# Remove duplicates

raw_data = {'first_name': ['Amy', 'Amy', 'Jason', 'Nick', 'Stephen','Amy'],
        'last_name': ['Jackson', 'J', 'Miller', 'Milner', 'L','J'],
        'age': [42, 42, 36, 24, 24, 42]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age'])
print (df)
print('----------------')
print (df.duplicated())
print('----------------')
print (df.drop_duplicates())
print('----------------')

# Drop duplicates in the first name column, but take the first obs in the duplicated set.
# To retian last obs of duplidate, change the keep option to 'last'
df.drop_duplicates(['first_name'], keep='last')

  first_name last_name  age
0        Amy   Jackson   42
1        Amy         J   42
2      Jason    Miller   36
3       Nick    Milner   24
4    Stephen         L   24
5        Amy         J   42
----------------
0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool
----------------
  first_name last_name  age
0        Amy   Jackson   42
1        Amy         J   42
2      Jason    Miller   36
3       Nick    Milner   24
4    Stephen         L   24
----------------

  first_name last_name  age
2      Jason    Miller   36
3       Nick    Milner   24
4    Stephen         L   24
5        Amy         J   42

In [66]:
# Creating new column from existing column

df['age_plus_5'] = df['age'] + 5
df

# Creating new column from elements of two columns
df['full_name'] = df['first_name'] + '_' + df['last_name']
df

# adding a list a new column to DataFrame
df['gender'] = pd.Series(['F','F','M','M','M','F'])
df

  first_name last_name  age  age_plus_5     full_name gender
0        Amy   Jackson   42          47   Amy_Jackson      F
1        Amy         J   42          47         Amy_J      F
2      Jason    Miller   36          41  Jason_Miller      M
3       Nick    Milner   24          29   Nick_Milner      M
4    Stephen         L   24          29     Stephen_L      M
5        Amy         J   42          47         Amy_J      F

### Missing Data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

In [67]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("---------After dropping NA's-----------")
# drop rows or columns having missing data
print (df.dropna())

---------With NA's-------
  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L   NaN          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F
---------After dropping NA's-----------
  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
5        Amy         J  42.0          47         Amy_J      F

In [68]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("---------After replacing NA's with 0-----------")
# replaces all missing values with 0
df.fillna(value=0)

---------With NA's-------
  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L   NaN          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F
---------After replacing NA's with 0-----------

  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L   0.0          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F

In [69]:
# Lets introduce missing data to our table
df.iloc[4,2] = np.nan

print("---------With NA's-------")
print (df)

print("----------Missing Value Flag----------")
# Check missing value condition and return boolean value of true or false for each cell
pd.isnull(df)

---------With NA's-------
  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L   NaN          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F
----------Missing Value Flag----------

   first_name  last_name    age  age_plus_5  full_name  gender
0       False      False  False       False      False   False
1       False      False  False       False      False   False
2       False      False  False       False      False   False
3       False      False  False       False      False   False
4       False      False   True       False      False   False
5       False      False  False       False      False   False

In [0]:
# Replace all missing values for a given column with its mean
mean=df['age'].mean() # calculate mean for 'age'

df['age'].fillna(mean)

0    42.0
1    42.0
2    36.0
3    24.0
4    37.2
5    42.0
Name: age, dtype: float64

In [71]:
# Replace missing values with last valid observation. This is useful in time series scenarios. 
# For example if you have a temperature data, you might want to fill the missing values with the 
# previous (or last) available hour rather than with mean as the temperature might not change drastically compared to previous hour

# There are mainly two methods available
# pad / ffill - forward fill
# bfill / backfill - backward fill
# limit: If method is specified, this is the maximum number of consecutive NaN values to forward/backward fill
df.fillna(method='ffill', inplace=True, limit = 1)
df

  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L  24.0          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F

### Operations

In [72]:
# Return mean for each column
df.mean()

age           35.0
age_plus_5    40.0
dtype: float64

In [73]:
# Return min for each column
df.min()

first_name      Amy
last_name         J
age              24
age_plus_5       29
full_name     Amy_J
gender            F
dtype: object

In [74]:
df.max()

first_name      Stephen
last_name        Milner
age                  42
age_plus_5           47
full_name     Stephen_L
gender                M
dtype: object

In [79]:
# Return sum for each column
print (df)
df.sum()

  first_name last_name   age  age_plus_5     full_name gender
0        Amy   Jackson  42.0          47   Amy_Jackson      F
1        Amy         J  42.0          47         Amy_J      F
2      Jason    Miller  36.0          41  Jason_Miller      M
3       Nick    Milner  24.0          29   Nick_Milner      M
4    Stephen         L  24.0          29     Stephen_L      M
5        Amy         J  42.0          47         Amy_J      F

first_name                            AmyAmyJasonNickStephenAmy
last_name                                JacksonJMillerMilnerLJ
age                                                         210
age_plus_5                                                  240
full_name     Amy_JacksonAmy_JJason_MillerNick_MilnerStephen...
gender                                                   FFMMMF
dtype: object

In [80]:
# Return count for each column
df.count()

first_name    6
last_name     6
age           6
age_plus_5    6
full_name     6
gender        6
dtype: int64

In [81]:
# Return cummulative sum for each row
df.cumsum()

                  first_name  ...  gender
0                        Amy  ...       F
1                     AmyAmy  ...      FF
2                AmyAmyJason  ...     FFM
3            AmyAmyJasonNick  ...    FFMM
4     AmyAmyJasonNickStephen  ...   FFMMM
5  AmyAmyJasonNickStephenAmy  ...  FFMMMF

[6 rows x 6 columns]

### Applying function to element, column or dataframe

### Apply

In [82]:
# As the name suggests, applies a function along any axis of the DataFrame
df.apply(np.cumsum)

                  first_name  ...  gender
0                        Amy  ...       F
1                     AmyAmy  ...      FF
2                AmyAmyJason  ...     FFM
3            AmyAmyJasonNick  ...    FFMM
4     AmyAmyJasonNickStephen  ...   FFMMM
5  AmyAmyJasonNickStephenAmy  ...  FFMMMF

[6 rows x 6 columns]

In [83]:
# Map: It iterates over each element of a series.

df['age'].map(lambda x: 1+x) # this will add a constant 1 to each element of column1

0    43.0
1    43.0
2    37.0
3    25.0
4    25.0
5    43.0
Name: age, dtype: float64

In [84]:
# ApplyMap: This helps to apply a function to each element of dataframe.
func = lambda x: x + 1

# all columns of dataframe should be numeric type as we are trying to perform addition operation
df_filtered = df.iloc[:,2:4]
print("------ Before applyMap ------")
print (df_filtered)
print("------ After applyMap ------")
print (df_filtered.applymap(func)) #it will add a constant 1 to each element of dataframe

------ Before applyMap ------
    age  age_plus_5
0  42.0          47
1  42.0          47
2  36.0          41
3  24.0          29
4  24.0          29
5  42.0          47
------ After applyMap ------
    age  age_plus_5
0  43.0          48
1  43.0          48
2  37.0          42
3  25.0          30
4  25.0          30
5  43.0          48

### Merge

Pandas has a rich functionality such as set operations of algebra and join operations of relations database, for combining multiple series, DataFrames

In [85]:
data = {
        'emp_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Jason', 'Andy', 'Allen', 'John', 'Amy'], 
        'last_name': ['Larkin', 'Jacob', 'A', 'AA', 'Jackson']}
df_1 = pd.DataFrame(data, columns = ['emp_id', 'first_name', 'last_name'])
print ("----df_1----")
print (df_1)

----df_1----
  emp_id first_name last_name
0      1      Jason    Larkin
1      2       Andy     Jacob
2      3      Allen         A
3      4       John        AA
4      5        Amy   Jackson

In [86]:
data = {
        'emp_id': ['4', '5', '6', '7'],
        'first_name': ['James', 'Shize', 'Kim', 'Jose'], 
        'last_name': ['Alexander', 'Suma', 'Mike', 'G']}
df_2 = pd.DataFrame(data, columns = ['emp_id', 'first_name', 'last_name'])
print (df_2)

  emp_id first_name  last_name
0      4      James  Alexander
1      5      Shize       Suma
2      6        Kim       Mike
3      7       Jose          G

In [87]:
# Using concat
df = pd.concat([df_1, df_2])
print (df)

# Using append
print (df_1.append(df_2))

  emp_id first_name  last_name
0      1      Jason     Larkin
1      2       Andy      Jacob
2      3      Allen          A
3      4       John         AA
4      5        Amy    Jackson
0      4      James  Alexander
1      5      Shize       Suma
2      6        Kim       Mike
3      7       Jose          G
  emp_id first_name  last_name
0      1      Jason     Larkin
1      2       Andy      Jacob
2      3      Allen          A
3      4       John         AA
4      5        Amy    Jackson
0      4      James  Alexander
1      5      Shize       Suma
2      6        Kim       Mike
3      7       Jose          G

In [88]:
# Join the two dataframes along columns
print (pd.concat([df_1, df_2], axis=1))

  emp_id first_name last_name emp_id first_name  last_name
0      1      Jason    Larkin      4      James  Alexander
1      2       Andy     Jacob      5      Shize       Suma
2      3      Allen         A      6        Kim       Mike
3      4       John        AA      7       Jose          G
4      5        Amy   Jackson    NaN        NaN        NaN

In [89]:
# Merge two dataframes based on the emp_id value
# in this case only the emp_id's present in both table will be joined
print (pd.merge(df_1, df_2, on='emp_id'))

  emp_id first_name_x last_name_x first_name_y last_name_y
0      4         John          AA        James   Alexander
1      5          Amy     Jackson        Shize        Suma

### Join (SQL Style Merges)

Left join produces an output table containing complete set of records from Table A, and only the matching records in Table B. If there is no match, the right side will contain null.

Note: Note that you can suffixe to avoid duplicate, if not provided it will automatically add x to the Table A and y to Table B

In [0]:
# Left join
print (pd.merge(df_1, df_2, on='emp_id', how='left'))

# Add a suffix to duplicate column names of both table
print (pd.merge(df_1, df_2, on='emp_id', how='left', suffixes=('_left', '_right')))

  emp_id first_name_x last_name_x first_name_y last_name_y
0      1        Jason      Larkin          NaN         NaN
1      2         Andy       Jacob          NaN         NaN
2      3        Allen           A          NaN         NaN
3      4         John          AA        James   Alexander
4      5          Amy     Jackson        Shize        Suma
  emp_id first_name_left last_name_left first_name_right last_name_right
0      1           Jason         Larkin              NaN             NaN
1      2            Andy          Jacob              NaN             NaN
2      3           Allen              A              NaN             NaN
3      4            John             AA            James       Alexander
4      5             Amy        Jackson            Shize            Suma

Right join - Right join produces an output table with complete set of records from Table B, and matching records from Table A. If there is no match, the left side will contain null.

In [0]:
# right join
print (pd.merge(df_1, df_2, on='emp_id', how='right'))

  emp_id first_name_x last_name_x first_name_y last_name_y
0      4         John          AA        James   Alexander
1      5          Amy     Jackson        Shize        Suma
2      6          NaN         NaN          Kim        Mike
3      7          NaN         NaN         Jose           G

### Inner Join

Inner join produces an output talbe that contains only the set of records that match in both Table A and Table B

In [0]:
print (pd.merge(df_1, df_2, on='emp_id', how='inner'))

  emp_id first_name_x last_name_x first_name_y last_name_y
0      4         John          AA        James   Alexander
1      5          Amy     Jackson        Shize        Suma

### Outer Join

Also known as full outer join will produce an output table that contains set of all records in Table A and Table B, with matching records from both sides. If there is no match, the missing side will contain null

In [90]:
print (pd.merge(df_1, df_2, on='emp_id', how='outer'))

  emp_id first_name_x last_name_x first_name_y last_name_y
0      1        Jason      Larkin          NaN         NaN
1      2         Andy       Jacob          NaN         NaN
2      3        Allen           A          NaN         NaN
3      4         John          AA        James   Alexander
4      5          Amy     Jackson        Shize        Suma
5      6          NaN         NaN          Kim        Mike
6      7          NaN         NaN         Jose           G

In [91]:
# Merge based on indexes
pd.merge(df_1, df_2, right_index=True, left_index=True)

  emp_id_x first_name_x last_name_x emp_id_y first_name_y last_name_y
0        1        Jason      Larkin        4        James   Alexander
1        2         Andy       Jacob        5        Shize        Suma
2        3        Allen           A        6          Kim        Mike
3        4         John          AA        7         Jose           G

### Grouping

Pandas “group by” will enable us to achieve the below:

* Applying an aggregation function to each group independently
* Based on some criteria split the data into groups
* Combining the results of the "group by" into a data structure

In [97]:
df = pd.DataFrame({'Name' : ['jack', 'jane', 'jack', 'jane', 'jack', 'jane', 'jack', 'jane'],
                   'State' : ['SFO', 'SFO', 'NYK', 'CA', 'NYK', 'NYK', 'SFO', 'CA'],
                   'Grade':['A','A','B','A','C','B','C','A'],
                   'Age' : np.random.uniform(40, 50, size=8),
                   'Salary' : np.random.uniform(2000, 5000, size=8),})

# Note that the columns are ordered automatically in their alphabetic order
# for custom order please use below code
#df = pd.DataFrame(data, columns = ['Name', 'State', 'Age','Salary'])
print (df)

   Name State Grade        Age       Salary
0  jack   SFO     A  43.973910  3226.394121
1  jane   SFO     A  49.490898  4237.926020
2  jack   NYK     B  47.714932  4054.907566
3  jane    CA     A  45.228609  2194.268753
4  jack   NYK     C  49.709122  2324.647262
5  jane   NYK     B  44.900864  4025.538325
6  jack   SFO     C  47.402608  3916.706417
7  jane    CA     A  46.234114  3986.591018

In [98]:
df.groupby('Name').sum()

             Age        Salary
Name
jack  188.800572  13522.655366
jane  185.854485  14444.324115

In [101]:
# Find max age and salary by Name / State
# You can use all aggregate functions such as min, max, mean, count, cumsum
print (df.groupby(['Name','State']).max())

           Grade        Age       Salary
Name State
jack NYK       C  49.709122  4054.907566
     SFO       C  47.402608  3916.706417
jane CA        A  46.234114  3986.591018
     NYK       B  44.900864  4025.538325
     SFO       A  49.490898  4237.926020

### Pivot Tables

Pandas provides a function 'pivot_table' to create MS-Excel spreadsheet style pivot table. It can take following arguments:

*	data: DataFrame object
*	values: column to aggregate
*	index: row labels
*	columns: column labels
*	aggfunc: aggregation function to be used on values, default is NumPy.mean

In [100]:
# by state and name find mean age for each grade
print (pd.pivot_table(df, values='Age', index=['State', 'Name'], columns=['Grade']))

Grade               A          B          C
State Name
CA    jane  45.731362        NaN        NaN
NYK   jack        NaN  47.714932  49.709122
      jane        NaN  44.900864        NaN
SFO   jack  43.973910        NaN  47.402608
      jane  49.490898        NaN        NaN